In [83]:
import pandas as pd
import requests
import datetime

In [ ]:
df =

In [23]:
url = r"https://www.powersmartpricing.org/psp/servlet?type=pricingtabledatesingle&date=20140501"

In [24]:
r = requests.get(url=url)

In [30]:
pd.read_html(r.content)

[       Time of Day (CT) Actual Price (Cents per kWh)
 0    12:00 AM - 1:00 AM                         3.0¢
 1     1:00 AM - 2:00 AM                         2.9¢
 2     2:00 AM - 3:00 AM                         2.9¢
 3     3:00 AM - 4:00 AM                         2.9¢
 4     4:00 AM - 5:00 AM                         3.2¢
 5     5:00 AM - 6:00 AM                         4.5¢
 6     6:00 AM - 7:00 AM                         5.5¢
 7     7:00 AM - 8:00 AM                         5.7¢
 8     8:00 AM - 9:00 AM                         6.1¢
 9    9:00 AM - 10:00 AM                         5.8¢
 10  10:00 AM - 11:00 AM                         5.7¢
 11  11:00 AM - 12:00 PM                         5.3¢
 12   12:00 PM - 1:00 PM                         5.1¢
 13    1:00 PM - 2:00 PM                         4.8¢
 14    2:00 PM - 3:00 PM                         4.7¢
 15    3:00 PM - 4:00 PM                         4.8¢
 16    4:00 PM - 5:00 PM                         4.8¢
 17    5:00 PM - 6:00 PM                         4.8¢
 18    6:00 PM - 7:00 PM                         4.9¢
 19    7:00 PM - 8:00 PM                         6.3¢
 20    8:00 PM - 9:00 PM                         6.9¢
 21   9:00 PM - 10:00 PM                         4.9¢
 22  10:00 PM - 11:00 PM                         3.9¢
 23  11:00 PM - 12:00 AM                         3.4¢]

In [19]:
tables = pd.read_html(url)

In [20]:
df = tables[0]

In [21]:
df

       Time of Day (CT) Actual Price (Cents per kWh)
0    12:00 AM - 1:00 AM                         3.0¢
1     1:00 AM - 2:00 AM                         2.9¢
2     2:00 AM - 3:00 AM                         2.9¢
3     3:00 AM - 4:00 AM                         2.9¢
4     4:00 AM - 5:00 AM                         3.2¢
5     5:00 AM - 6:00 AM                         4.5¢
6     6:00 AM - 7:00 AM                         5.5¢
7     7:00 AM - 8:00 AM                         5.7¢
8     8:00 AM - 9:00 AM                         6.1¢
9    9:00 AM - 10:00 AM                         5.8¢
10  10:00 AM - 11:00 AM                         5.7¢
11  11:00 AM - 12:00 PM                         5.3¢
12   12:00 PM - 1:00 PM                         5.1¢
13    1:00 PM - 2:00 PM                         4.8¢
14    2:00 PM - 3:00 PM                         4.7¢
15    3:00 PM - 4:00 PM                         4.8¢
16    4:00 PM - 5:00 PM                         4.8¢
17    5:00 PM - 6:00 PM                         4.8¢
18    6:00 PM - 7:00 PM                         4.9¢
19    7:00 PM - 8:00 PM                         6.3¢
20    8:00 PM - 9:00 PM                         6.9¢
21   9:00 PM - 10:00 PM                         4.9¢
22  10:00 PM - 11:00 PM                         3.9¢
23  11:00 PM - 12:00 AM                         3.4¢

In [5]:
df["price_dollar_per_kwh"] = df["Actual Price (Cents per kWh)"].str.extract(r"(\d+\.\d+)").astype(float) / 100

In [6]:
df

       Time of Day (CT) Actual Price (Cents per kWh)  price_dollar_per_kwh
0    12:00 AM - 1:00 AM                         3.0¢                 0.030
1     1:00 AM - 2:00 AM                         2.9¢                 0.029
2     2:00 AM - 3:00 AM                         2.9¢                 0.029
3     3:00 AM - 4:00 AM                         2.9¢                 0.029
4     4:00 AM - 5:00 AM                         3.2¢                 0.032
5     5:00 AM - 6:00 AM                         4.5¢                 0.045
6     6:00 AM - 7:00 AM                         5.5¢                 0.055
7     7:00 AM - 8:00 AM                         5.7¢                 0.057
8     8:00 AM - 9:00 AM                         6.1¢                 0.061
9    9:00 AM - 10:00 AM                         5.8¢                 0.058
10  10:00 AM - 11:00 AM                         5.7¢                 0.057
11  11:00 AM - 12:00 PM                         5.3¢                 0.053
12   12:00 PM - 1:00 PM                         5.1¢                 0.051
13    1:00 PM - 2:00 PM                         4.8¢                 0.048
14    2:00 PM - 3:00 PM                         4.7¢                 0.047
15    3:00 PM - 4:00 PM                         4.8¢                 0.048
16    4:00 PM - 5:00 PM                         4.8¢                 0.048
17    5:00 PM - 6:00 PM                         4.8¢                 0.048
18    6:00 PM - 7:00 PM                         4.9¢                 0.049
19    7:00 PM - 8:00 PM                         6.3¢                 0.063
20    8:00 PM - 9:00 PM                         6.9¢                 0.069
21   9:00 PM - 10:00 PM                         4.9¢                 0.049
22  10:00 PM - 11:00 PM                         3.9¢                 0.039
23  11:00 PM - 12:00 AM                         3.4¢                 0.034

In [7]:
pd.date_range("20140530", pd.Timestamp.now(), freq="D").size

1585

In [16]:
df.insert(0, "price_start_datetime", pd.date_range("20140501", periods=24, freq='H'))

ValueError: cannot insert price_start_datetime, already exists

In [31]:
end_dt = pd.date_range("20140530 1:00:00", periods=24, freq='H') - pd.Timedelta(seconds=1)
df.insert(1, "price_end_datetime", end_dt)

In [33]:
pd.Timestamp("12:00 AM")

Timestamp('2018-10-02 00:00:00')

In [52]:
pd.Timestamp(pd.Timestamp.now().strftime("%Y%m%d") + " " + "12:00 AM")

Timestamp('2018-10-02 00:00:00')

In [55]:
x = df["Time of Day (CT)"].str.extract(r"(\d{1,2}:\d{2} [A|P]M)")

In [77]:
df["date"] = str(pd.Timestamp.now().date())

In [82]:
df["date"].astype("datetime64[D]")

0    2018-10-02
1    2018-10-02
2    2018-10-02
3    2018-10-02
4    2018-10-02
5    2018-10-02
6    2018-10-02
7    2018-10-02
8    2018-10-02
9    2018-10-02
10   2018-10-02
11   2018-10-02
12   2018-10-02
13   2018-10-02
14   2018-10-02
15   2018-10-02
16   2018-10-02
17   2018-10-02
18   2018-10-02
19   2018-10-02
20   2018-10-02
21   2018-10-02
22   2018-10-02
23   2018-10-02
Name: date, dtype: datetime64[ns]

In [73]:
df["price_end_datetime"]

0    2014-05-30 00:59:59
1    2014-05-30 01:59:59
2    2014-05-30 02:59:59
3    2014-05-30 03:59:59
4    2014-05-30 04:59:59
5    2014-05-30 05:59:59
6    2014-05-30 06:59:59
7    2014-05-30 07:59:59
8    2014-05-30 08:59:59
9    2014-05-30 09:59:59
10   2014-05-30 10:59:59
11   2014-05-30 11:59:59
12   2014-05-30 12:59:59
13   2014-05-30 13:59:59
14   2014-05-30 14:59:59
15   2014-05-30 15:59:59
16   2014-05-30 16:59:59
17   2014-05-30 17:59:59
18   2014-05-30 18:59:59
19   2014-05-30 19:59:59
20   2014-05-30 20:59:59
21   2014-05-30 21:59:59
22   2014-05-30 22:59:59
23   2014-05-30 23:59:59
Name: price_end_datetime, dtype: datetime64[ns]

In [71]:
d = pd.DatetimeIndex(pd.Timestampe.now().date(), )

0     2018-10-02
1     2018-10-02
2     2018-10-02
3     2018-10-02
4     2018-10-02
5     2018-10-02
6     2018-10-02
7     2018-10-02
8     2018-10-02
9     2018-10-02
10    2018-10-02
11    2018-10-02
12    2018-10-02
13    2018-10-02
14    2018-10-02
15    2018-10-02
16    2018-10-02
17    2018-10-02
18    2018-10-02
19    2018-10-02
20    2018-10-02
21    2018-10-02
22    2018-10-02
23    2018-10-02
dtype: object

In [54]:
d

0     2018-10-02
1     2018-10-02
2     2018-10-02
3     2018-10-02
4     2018-10-02
5     2018-10-02
6     2018-10-02
7     2018-10-02
8     2018-10-02
9     2018-10-02
10    2018-10-02
11    2018-10-02
12    2018-10-02
13    2018-10-02
14    2018-10-02
15    2018-10-02
16    2018-10-02
17    2018-10-02
18    2018-10-02
19    2018-10-02
20    2018-10-02
21    2018-10-02
22    2018-10-02
23    2018-10-02
dtype: object

In [68]:
d.combine(x, lambda x1, x2: min(x1, x2))

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [67]:
s1 = pd.Series([1, 2])
s2 = pd.Series([0, 3])
s1.combine(s2, lambda x1, x2: min(x1, x2))

0    0
1    2
dtype: int64

In [37]:
pd.Timestamp(pd.Timestamp.now().date()+pd.Timestamp("12:00 AM").time())

TypeError: unsupported operand type(s) for +: 'datetime.date' and 'datetime.time'

In [11]:
df

,price_start_datetime,price_end_datetime,Time of Day (CT),Actual Price (Cents per kWh),price_dollar_per_kwh
0,2014-05-30 00:00:00,2014-05-30 00:59:59,12:00 AM - 1:00 AM,3.0¢,0.030
1,2014-05-30 01:00:00,2014-05-30 01:59:59,1:00 AM - 2:00 AM,2.9¢,0.029
2,2014-05-30 02:00:00,2014-05-30 02:59:59,2:00 AM - 3:00 AM,2.9¢,0.029
3,2014-05-30 03:00:00,2014-05-30 03:59:59,3:00 AM - 4:00 AM,2.9¢,0.029
4,2014-05-30 04:00:00,2014-05-30 04:59:59,4:00 AM - 5:00 AM,3.2¢,0.032
5,2014-05-30 05:00:00,2014-05-30 05:59:59,5:00 AM - 6:00 AM,4.5¢,0.045
6,2014-05-30 06:00:00,2014-05-30 06:59:59,6:00 AM - 7:00 AM,5.5¢,0.055
7,2014-05-30 07:00:00,2014-05-30 07:59:59,7:00 AM - 8:00 AM,5.7¢,0.057
8,2014-05-30 08:00:00,2014-05-30 08:59:59,8:00 AM - 9:00 AM,6.1¢,0.061
9,2014-05-30 09:00:00,2014-05-30 09:59:59,9:00 AM - 10:00 AM,5.8¢,0.058
10,2014-05-30 10:00:00,2014-05-30 10:59:59,10:00 AM - 11:00 AM,5.7¢,0.057
11,2014-05-30 11:00:00,2014-05-30 11:59:59,11:00 AM - 12:00 PM,5.3¢,0.053
12,2014-05-30 12:00:00,2014-05-30 12:59:59,12:00 PM - 1:00 PM,5.1¢,0.051
13,2014-05-30 13:00:00,2014-05-30 13:59:59,1:00 PM - 2:00 PM,4.8¢,0.048
14,2014-05-30 14:00:00,2014-05-30 14:59:59,2:00 PM - 3:00 PM,4.7¢,0.047
15,2014-05-30 15:00:00,2014-05-30 15:59:59,3:00 PM - 4:00 PM,4.8¢,0.048
16,2014-05-30 16:00:00,2014-05-30 16:59:59,4:00 PM - 5:00 PM,4.8¢,0.048
17,2014-05-30 17:00:00,2014-05-30 17:59:59,5:00 PM - 6:00 PM,4.8¢,0.048
18,2014-05-30 18:00:00,2014-05-30 18:59:59,6:00 PM - 7:00 PM,4.9¢,0.049
19,2014-05-30 19:00:00,2014-05-30 19:59:59,7:00 PM - 8:00 PM,6.3¢,0.063
20,2014-05-30 20:00:00,2014-05-30 20:59:59,8:00 PM - 9:00 PM,6.9¢,0.069
21,2014-05-30 21:00:00,2014-05-30 21:59:59,9:00 PM - 10:00 PM,4.9¢,0.049
22,2014-05-30 22:00:00,2014-05-30 22:59:59,10:00 PM - 11:00 PM,3.9¢,0.039
23,2014-05-30 23:00:00,2014-05-30 23:59:59,11:00 PM - 12:00 AM,3.4¢,0.034

In [8]:
df["price_end_datetime"] = pd.date_range("20140530 1:00:00", periods=24, freq='H') - pd.Timedelta(seconds=1)

In [12]:
df.drop(["Time of Day (CT)", "Actual Price (Cents per kWh)"], axis=1, inplace=True)

In [13]:
df

   price_start_datetime  price_end_datetime  price_dollar_per_kwh
0   2014-05-30 00:00:00 2014-05-30 00:59:59                 0.030
1   2014-05-30 01:00:00 2014-05-30 01:59:59                 0.029
2   2014-05-30 02:00:00 2014-05-30 02:59:59                 0.029
3   2014-05-30 03:00:00 2014-05-30 03:59:59                 0.029
4   2014-05-30 04:00:00 2014-05-30 04:59:59                 0.032
5   2014-05-30 05:00:00 2014-05-30 05:59:59                 0.045
6   2014-05-30 06:00:00 2014-05-30 06:59:59                 0.055
7   2014-05-30 07:00:00 2014-05-30 07:59:59                 0.057
8   2014-05-30 08:00:00 2014-05-30 08:59:59                 0.061
9   2014-05-30 09:00:00 2014-05-30 09:59:59                 0.058
10  2014-05-30 10:00:00 2014-05-30 10:59:59                 0.057
11  2014-05-30 11:00:00 2014-05-30 11:59:59                 0.053
12  2014-05-30 12:00:00 2014-05-30 12:59:59                 0.051
13  2014-05-30 13:00:00 2014-05-30 13:59:59                 0.048
14  2014-05-30 14:00:00 2014-05-30 14:59:59                 0.047
15  2014-05-30 15:00:00 2014-05-30 15:59:59                 0.048
16  2014-05-30 16:00:00 2014-05-30 16:59:59                 0.048
17  2014-05-30 17:00:00 2014-05-30 17:59:59                 0.048
18  2014-05-30 18:00:00 2014-05-30 18:59:59                 0.049
19  2014-05-30 19:00:00 2014-05-30 19:59:59                 0.063
20  2014-05-30 20:00:00 2014-05-30 20:59:59                 0.069
21  2014-05-30 21:00:00 2014-05-30 21:59:59                 0.049
22  2014-05-30 22:00:00 2014-05-30 22:59:59                 0.039
23  2014-05-30 23:00:00 2014-05-30 23:59:59                 0.034

In [12]:
 pd.date_range("20140530", periods=24, freq='H') - pd.Timedelta(seconds=1)

DatetimeIndex(['2014-05-29 23:59:59', '2014-05-30 00:59:59',
               '2014-05-30 01:59:59', '2014-05-30 02:59:59',
               '2014-05-30 03:59:59', '2014-05-30 04:59:59',
               '2014-05-30 05:59:59', '2014-05-30 06:59:59',
               '2014-05-30 07:59:59', '2014-05-30 08:59:59',
               '2014-05-30 09:59:59', '2014-05-30 10:59:59',
               '2014-05-30 11:59:59', '2014-05-30 12:59:59',
               '2014-05-30 13:59:59', '2014-05-30 14:59:59',
               '2014-05-30 15:59:59', '2014-05-30 16:59:59',
               '2014-05-30 17:59:59', '2014-05-30 18:59:59',
               '2014-05-30 19:59:59', '2014-05-30 20:59:59',
               '2014-05-30 21:59:59', '2014-05-30 22:59:59'],
              dtype='datetime64[ns]', freq='H')

In [13]:
df["recorded_on"] = pd.Timestamp.now().date()

In [14]:
df

    price_dollar_per_kwh  price_end_datetime price_start_datetime recorded_on
0                  0.030 2014-05-30 00:59:59  2014-05-30 00:00:00  2018-09-30
1                  0.029 2014-05-30 01:59:59  2014-05-30 01:00:00  2018-09-30
2                  0.029 2014-05-30 02:59:59  2014-05-30 02:00:00  2018-09-30
3                  0.029 2014-05-30 03:59:59  2014-05-30 03:00:00  2018-09-30
4                  0.032 2014-05-30 04:59:59  2014-05-30 04:00:00  2018-09-30
5                  0.045 2014-05-30 05:59:59  2014-05-30 05:00:00  2018-09-30
6                  0.055 2014-05-30 06:59:59  2014-05-30 06:00:00  2018-09-30
7                  0.057 2014-05-30 07:59:59  2014-05-30 07:00:00  2018-09-30
8                  0.061 2014-05-30 08:59:59  2014-05-30 08:00:00  2018-09-30
9                  0.058 2014-05-30 09:59:59  2014-05-30 09:00:00  2018-09-30
10                 0.057 2014-05-30 10:59:59  2014-05-30 10:00:00  2018-09-30
11                 0.053 2014-05-30 11:59:59  2014-05-30 11:00:00  2018-09-30
12                 0.051 2014-05-30 12:59:59  2014-05-30 12:00:00  2018-09-30
13                 0.048 2014-05-30 13:59:59  2014-05-30 13:00:00  2018-09-30
14                 0.047 2014-05-30 14:59:59  2014-05-30 14:00:00  2018-09-30
15                 0.048 2014-05-30 15:59:59  2014-05-30 15:00:00  2018-09-30
16                 0.048 2014-05-30 16:59:59  2014-05-30 16:00:00  2018-09-30
17                 0.048 2014-05-30 17:59:59  2014-05-30 17:00:00  2018-09-30
18                 0.049 2014-05-30 18:59:59  2014-05-30 18:00:00  2018-09-30
19                 0.063 2014-05-30 19:59:59  2014-05-30 19:00:00  2018-09-30
20                 0.069 2014-05-30 20:59:59  2014-05-30 20:00:00  2018-09-30
21                 0.049 2014-05-30 21:59:59  2014-05-30 21:00:00  2018-09-30
22                 0.039 2014-05-30 22:59:59  2014-05-30 22:00:00  2018-09-30
23                 0.034 2014-05-30 23:59:59  2014-05-30 23:00:00  2018-09-30

In [15]:
pd.read_html("https://www.wunderground.com/history/daily/KPIA/date/2018-3-30?req_city=Morton&req_state=IL&req_statename=Illinois&reqdb.zip=61550&reqdb.magic=1&reqdb.wmo=99999")

ValueError: No tables found

1. Make datetime index
2. Multithread over index to generate histograms
3. Apply cleaning steps
4. Blend with weather data